<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <body>
        <div layout:fragment="content">
            <h1>Authors</h1>
            <p th:if="${authors.isEmpty()}">No authors yet</p>
            <table th:if="${!authors.isEmpty()}">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="author : ${authors}">
                        <td th:text="${author.firstName}"></td>
                        <td th:text="${author.lastName}"></td>
                        <td><a th:href="@{/authors/edit/{id}(id = ${author.id})}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
            <a href="/authors/add">Add an author</a>
        </div>
    </body>
</html>