<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <body>
        <div layout:fragment="content">
            <h1>Books in <span th:text="${category}"></span></h1>
            <p th:if="${books.isEmpty()}">No books in this category</p>
            <table th:if="${!books.isEmpty()}">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.author.name}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>