<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>RPI Spring Spike</title>
    </head>

    <body>
        <div class="header">
            <a href="/">Home</a>
            <a href="/authors">Authors</a>
            <a href="/books">Books</a>
            <span th:text="${version}"></span>
        </div>

        <div class="container">
            <div layout:fragment="content">
                <p>Content</p>
            </div>
        </div>
    </body>
</html>